# Ignore build directories for both Bb_Engine and Bb_Ui
Bb_Engine/bin/
Bb_Engine/obj/
Bb_Ui/bin/
Bb_Ui/obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.userprefs

# Ignore backup, temp, and log files
*.log
*.tmp
*.temp

# Ignore Visual Studio related files
.vs/
.vscode/

# Ignore other common files
Thumbs.db
Desktop.ini
